<div class="map" #mapDiv></div>
<div class="map-sidebar-unfold border" (click)="isSidebarFolded=false">&gt;</div>
<div class="map-sidebar pad pt-0" [hidden]="isSidebarFolded">
  <div class="sidebar-fold border" (click)="isSidebarFolded=true">&lt;</div>
  <!-- Map layer -->
  <div class="sidebar-section">
    <h2 class="sidebar-marker-group">Map layer</h2>
    <div class="flex flex-wrap">
      <button type="button" [class.border-active]="mapLayers['map'].visible" (click)="showMapLayer('map')">
        <span class="material-symbols-outlined">map</span>&nbsp;
        <span>Map</span>
      </button>
      <button type="button" [class.border-active]="mapLayers['border'].visible" (click)="showMapLayer('border')">
        <span class="material-symbols-outlined">border_style</span>&nbsp;
        <span>Borders</span>
      </button>
      <button type="button" [class.border-active]="mapLayers['coords'].visible" (click)="showMapLayer('coords')">
        <span class="material-symbols-outlined">numbers</span>&nbsp;
        <span>Coordinates</span>
      </button>
    </div>
  </div>
  <!-- World layer -->
  <div class="sidebar-section">
    <h2 class="sidebar-marker-group">World layer</h2>
    <div class="flex flex-wrap">
      <button type="button" [class.border-active]="mapLayers['world'].visible" (click)="showMapLayer('world')">
        <span class="material-symbols-outlined">ev_shadow</span>&nbsp;
        <span>Minimal</span>
      </button>
      <button type="button" [class.border-active]="mapLayers['explored'].visible" (click)="showMapLayer('explored')">
        <span class="material-symbols-outlined">public</span>&nbsp;
        <span>Full</span>
      </button>
      <button type="button" [class.border-active]="mapLayers['bright'].visible" (click)="showMapLayer('bright')">
        <span class="material-symbols-outlined">brightness_high</span>&nbsp;
        <span>Full (bright)</span>
      </button>
    </div>
  </div>
  <!-- Exploration -->
  <div class="sidebar-section">
    <h2 class="sidebar-marker-group">
      <span (click)="toggleMarkerLayers('item', 'telephone', 'key', 'door', 'teleporter', 'pipe', 'flame', 'explosive')">
        Exploration
      </span>
    </h2>
    <div class="flex flex-wrap">
      <button type="button" [class.border-active]="markerLayersVisible['item']" (click)="toggleMarkerLayers('item')">
        <span class="material-symbols-outlined">star</span>&nbsp;
        <span>Items ({{ markerLayersCount['item']}})</span>
      </button>
      <button type="button" [class.border-active]="markerLayersVisible['telephone']" (click)="toggleMarkerLayers('telephone')">
        <span class="material-symbols-outlined">phone</span>&nbsp;
        <span>Telephones ({{ markerLayersCount['telephone']}})</span>
      </button>
      <button type="button" [class.border-active]="markerLayersVisible['key']" (click)="toggleMarkerLayers('key')">
        <span class="material-symbols-outlined">key</span>&nbsp;
        <span>Keys ({{ markerLayersCount['key']}})</span>
      </button>
      <button type="button" [class.border-active]="markerLayersVisible['door']" (click)="toggleMarkerLayers('door')">
        <span class="material-symbols-outlined">door_front</span>&nbsp;
        <span>Doors ({{ markerLayersCount['door']}})</span>
      </button>
      <button type="button" [class.border-active]="markerLayersVisible['teleporter']" (click)="toggleMarkerLayers('teleporter')">
        <span class="material-symbols-outlined">flight</span>&nbsp;
        <span>Teleporters ({{ markerLayersCount['teleporter']}})</span>
      </button>
      <button type="button" [class.border-active]="markerLayersVisible['pipe']" (click)="toggleMarkerLayers('pipe')">
        <span class="material-symbols-outlined">valve</span>&nbsp;
        <span>Pipes ({{ markerLayersCount['pipe']}})</span>
      </button>
      <button type="button" [class.border-active]="markerLayersVisible['flame']" (click)="toggleMarkerLayers('flame')">
        <span class="material-symbols-outlined">local_fire_department</span>&nbsp;
        <span>Flames ({{ markerLayersCount['flame']}})</span>
      </button>
      <button type="button" [class.border-active]="markerLayersVisible['explosive']" (click)="toggleMarkerLayers('explosive')">
        <span class="material-symbols-outlined">destruction</span>&nbsp;
        <span>Explosives ({{ markerLayersCount['explosive']}})</span>
      </button>
    </div>
  </div>
  <!-- Late game-->
  <div class="sidebar-section">
    <h2 class="sidebar-marker-group">
      <span (click)="toggleMarkerLayers('egg', 'match', 'candle', 'medal', 'bunny', 'totem')">
        Late game
      </span>
    </h2>
    <div class="flex flex-wrap">
      <button type="button" [class.border-active]="markerLayersVisible['egg']" (click)="toggleMarkerLayers('egg')">
        <span class="material-symbols-outlined">egg</span>&nbsp;
        <span>Eggs ({{ markerLayersCount['egg']}})</span>
      </button>
      <button type="button" [class.border-active]="markerLayersVisible['candle']" (click)="toggleMarkerLayers('match', 'candle')">
        <span class="material-symbols-outlined">candle</span>&nbsp;
        <span>Candles (9)</span>
      </button>
      <button type="button" [class.border-active]="markerLayersVisible['medal']" (click)="toggleMarkerLayers('medal')">
        <span class="material-symbols-outlined">workspace_premium</span>&nbsp;
        <span>Medals ({{ markerLayersCount['medal']}})</span>
      </button>
      <button type="button" [class.border-active]="markerLayersVisible['totem']" (click)="toggleMarkerLayers('totem')">
        <span class="material-symbols-outlined">skull</span>&nbsp;
        <span>Totems ({{ markerLayersCount['totem']}})</span>
      </button>
      <button type="button" [class.border-active]="markerLayersVisible['bunny']" (click)="toggleMarkerLayers('bunny')">
        <span class="material-symbols-outlined">cruelty_free</span>&nbsp;
        <span>Bunnies (16)</span>
      </button>
    </div>
  </div>
  <!-- Other -->
  <div class="sidebar-section">
    <h2 class="sidebar-marker-group">
      <span (click)="toggleMarkerLayers('berry', 'blueberry', 'firecracker', 'chinchilla', 'bubbleBird', 'cheatSecret')">
        Other
      </span>
    </h2>
    <div class="flex flex-wrap">
      <button type="button" [class.border-active]="markerLayersVisible['berry']" (click)="toggleMarkerLayers('berry', 'blueberry')">
        <span class="material-symbols-outlined">nutrition</span>&nbsp;
        <span>Berries ({{ markerLayersCount['berry'] + markerLayersCount['blueberry'] }})</span>
      </button>
      <button type="button" [class.border-active]="markerLayersVisible['firecracker']" (click)="toggleMarkerLayers('firecracker')">
        <span class="material-symbols-outlined">light_mode</span>&nbsp;
        <span>Firecrackers ({{ markerLayersCount['firecracker']}})</span>
      </button>
      <button type="button" [class.border-active]="markerLayersVisible['chinchilla']" (click)="toggleMarkerLayers('chinchilla')">
        <span class="material-symbols-outlined">pets</span>&nbsp;
        <span>Chinchillas ({{ markerLayersCount['chinchilla']}})</span>
      </button>
      <button type="button" [class.border-active]="markerLayersVisible['bubbleBird']" (click)="toggleMarkerLayers('bubbleBird')">
        <span class="material-symbols-outlined">raven</span>&nbsp;
        <span>Bubble Birds ({{ markerLayersCount['bubbleBird']}})</span>
      </button>
      <button type="button" [class.border-active]="markerLayersVisible['cheatSecret']" (click)="toggleMarkerLayers('cheatSecret')">
        <span class="material-symbols-outlined">joystick</span>&nbsp;
        <span>Cheat/Exploit ({{ markerLayersCount['cheatSecret']}})</span>
      </button>
    </div>
  </div>
  <!-- Mysteries -->
  <div class="sidebar-section">
    <h2 class="sidebar-marker-group">
      Mysteries
    </h2>

    <div class="flex flex-wrap">
      <button type="button" [class.border-active]="markerLayersVisible['yellowFlower']" (click)="toggleMarkerLayers('yellowFlower')">
        <span class="material-symbols-outlined">deceased</span>&nbsp;
        <span>Yellow flowers ({{ markerLayersCount['yellowFlower']}})</span>
      </button>
      <button type="button" [class.border-active]="markerLayersVisible['pinkFlower']" (click)="toggleMarkerLayers('pinkFlower')">
        <span class="material-symbols-outlined">deceased</span>&nbsp;
        <span>Pink flowers ({{ markerLayersCount['pinkFlower']}})</span>
      </button>
      <button type="button" [class.border-active]="markerLayersVisible['tulip']" (click)="toggleMarkerLayers('tulip')">
        <span class="material-symbols-outlined">deceased</span>&nbsp;
        <span>Tulips ({{ markerLayersCount['tulip']}})</span>
      </button>
      <button type="button" [class.border-active]="markerLayersVisible['brownMushroom']" (click)="toggleMarkerLayers('brownMushroom')">
        <span class="material-symbols-outlined">grain</span>&nbsp;
        <span>Brown mushrooms ({{ markerLayersCount['brownMushroom']}})</span>
      </button>
      <button type="button" [class.border-active]="markerLayersVisible['swirlyPlant']" (click)="toggleMarkerLayers('swirlyPlant')">
        <span class="material-symbols-outlined">park</span>&nbsp;
        <span>Swirly plants ({{ markerLayersCount['swirlyPlant']}})</span>
      </button>
    </div>
  </div>
  @if (map) {
    <div class="sidebar-section">
      <h2>Custom</h2>
      <div class="flex flex-wrap">
      <button type="button" [class.border-active]="editing" (click)="toggleEdit()">
        <span class="material-symbols-outlined">add</span>
        Add group
      </button>
      <button type="button" (click)="importCustomMarkerGroup()">
        <span class="material-symbols-outlined">note_Add</span>
        Import
      </button>
        @for (group of customMarkers; track group.name) {
          <button type="button" [class.border-active]="group.visible" (click)="toggleCustomMarkerGroup(group.name)">
            <span>{{ group.name }} ({{ group.count }})</span>&nbsp;
            <span class="material-symbols-outlined icon-hover" (click)="exportCustomMarkerGroup(group.name); preventDefault($event)">download</span>
            <span class="material-symbols-outlined icon-hover" (click)="toggleEdit(group.name); preventDefault($event)">edit</span>
            <span class="material-symbols-outlined icon-hover" (click)="deleteCustomMarkerGroup(group.name); preventDefault($event)">delete</span>
          </button>
        }
      </div>
    </div>
  }

  <!-- Info -->
  <div class="sidebar-section mt">
    <i>
      Missing markers?<br/>Contact Silverfeelin on Discord!<br/><a href="https://github.com/Silverfeelin/AnimalWell-Helper">GitHub repo</a>
    </i>
  </div>
</div>

@if (map) {
  <app-map-node-editor [map]="map"></app-map-node-editor>
}

@if (editing) {
  <app-map-marker-editor [map]="map" [groupName]="editingGroup" (markerGroupCreated)="onCustomMarkerGroupCreated($event)" (markerGroupUpdated)="onCustomMarkerGroupUpdated($event)"></app-map-marker-editor>
}
