.map {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  width: 100dvw;
  background-color: black;
}

:host ::ng-deep .leaflet-image-layer {
  image-rendering: pixelated !important;
}

.map-width {
  width: 100%;
}

.map-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: min(340px, 80vw);
  height: 100%;
  background-color: #000;
  border-right: 3px solid #fff;
  z-index: 1000;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  user-select: none;
  overflow-y: auto;
}

.map-sidebar-unfold {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  background-color: #000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.sidebar-fold {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 40px;
  height: 40px;
  background-color: #000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-marker-group {
  span {
    cursor: pointer;
  }
}
