.egg-shrine {
  position: relative;
  display: inline-block;
  padding: 3px;
  width: calc(128px * var(--scale));
  height: calc(100px * var(--scale));
  box-sizing: content-box;
  background-image: url('/assets/game/eggs.png');
  background-repeat: no-repeat;
  background-position: 3px 3px;
  background-size: calc(128px * var(--scale)) calc(100px * var(--scale));
}

.egg-shrine-buttons {
  position: absolute;
  bottom: calc(var(--border-width) * 2);
  left: calc(var(--border-width) * 2);
  right: calc(var(--border-width) * 2);
  gap: var(--border-width)
}

.img-eggs {
  width: 100%;
  height: 100%;
  vertical-align: top;
  position: relative;
  top: 0;
  left: 0;
  image-rendering: pixelated;
}

.egg-grid {
  --egg-width: 8px;
  --egg-height: 11px;

  position: absolute;
  top: calc(3px + 9px * var(--scale));
  left: calc(3px + 8px * var(--scale));
  right: 3px;
  bottom: 3px;
  display: grid;
  grid-template-columns: repeat(14, calc(var(--egg-width) * var(--scale)));
  grid-template-rows: repeat(5, calc(var(--egg-height) * var(--scale)));
  gap: 0;
  row-gap: calc(5px * var(--scale));
}

.egg {
  position: relative;
  box-sizing: border-box;
  background-color: #000;
  border: 1px solid #f00;
  cursor: pointer;
}

.egg-code {
  position: absolute;
  font-size: 12px;
  line-height: 12px;
  user-select: none;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.selected {
  border-color: #ff0;
  background-color: transparent;
}

.obtained {
  border-color: #0f0;;
  background-color: transparent;
}

.egg-placeholder {
  opacity: 0;
}
