:host {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.eggs-shrine {
  --scale: 4;
  position: relative;
  display: inline-block;
  width: calc(112px * var(--scale));
  height: calc(88px * var(--scale));
}

.img-eggs {
  width: 100%;
  height: 100%;
  vertical-align: top;
  position: relative;
  top: 0;
  left: 0;
  image-rendering: pixelated;
}

.egg-grid {
  --egg-width: 8px;
  --egg-height: 11px;

  position: absolute;
  top: calc(5px * var(--scale));
  left: 0;
  display: grid;
  grid-template-columns: repeat(14, calc(var(--egg-width) * var(--scale)));
  grid-template-rows: repeat(5, calc(var(--egg-height) * var(--scale)));
  gap: 0;
  row-gap: calc(5px * var(--scale));
}

.egg {
  position: relative;
  box-sizing: border-box;
  background-color: #000;
  border: 2px solid #f00;
  cursor: pointer;
}

.egg-code {
  position: absolute;
  font-size: 12px;
  line-height: 12px;
  user-select: none;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.obtained {
  border-color: #0f0;;
  background-color: transparent;
}

.selected {
  border-color: #ff0;
  background-color: transparent;
}



.egg-placeholder {
  opacity: 0;
}
